.add-option-err{
  color: $off-white;
  font-style: italic;
  margin: 0;
  margin-top: $m-size;
  padding: 0 $m-size;
}

.add-option{
  display: flex;
  flex-direction: column;
  padding: $m-size;
}

.add-option__input{
  flex-grow: 1;
  background: $dark-blue;
  color: $off-white;
  border: 0;
  margin: 0 0 $s-size 0;
  border-bottom: .3rem solid darken($dark-blue, 10%);
  padding: $s-size;
}

@media screen and (min-width: $desktop-breakpoint) {
  .add-option{
    flex-direction: row;
  }
  .add-option__input{
    margin: 0 $s-size 0 0;
  }
}